# ===================================================
# FPGA Project Configuration
# ===================================================
# This file contains all configurable parameters for your FPGA project.
# It is the single source of truth. Do not duplicate values in the Makefile.

# ./config/configuration.cfg


# -------------------------
# Project Structure
# -------------------------
PROJNAME	= FPGA
SRCDIR		= ./src/
TBDIR		= ./tb/
CONSTRAINTDIR	= ./config/
GENERATED	= ./generated/
LOGDIR		= ./logging/
BINDIR		= ./bin/

TOP		= top_module

# -------------------------
# Simulation
# -------------------------
SIMULATOR	= /opt/intelFPGA/20.1/modelsim_ase/bin/
TOP_TB		= Top_tb
SIM_WAVE_FLAGS	= -gui
SIM_TB_FLAGS	= -c
SIM_OUTPUT	= ./waves/
WAVEVIEWER	= GTKWAVE


# ========================================
# Tool Chain
# ========================================
TOOLCHAIN	= QUARTUS23
# Tool Chain options 
QUARTUS13	= /opt/intelFPGA_lite/13.0sp1/quartus/bin/
QUARTUS23	= /opt/intelFPGA_lite/23.1std/quartus/bin/
VIVADO24	= /opt/Xilinx/tools/Vivado/2024.1/bin/


# ========================================
# Board Info
# ========================================
BOARD_FAMILY	= "MAX 10"
CHIP_PART_NUMBER= 10M50DAF484C7G
PIN_COUNT	= 484
SPEED_GRADE	= 7
SEED		= 777